h1 {
  font-family: "Comic Sans MS", "Comic Sans", Chilanka, Arial, Helvetica, sans-serif;
}
h2 {
  font-family: "Comic Sans MS", "Comic Sans", Chilanka, Arial, Helvetica, sans-serif;
}
p {
  font-family: "Comic Sans MS", "Comic Sans", Chilanka, Arial, Helvetica, sans-serif;
}
a {
  font-family: "Comic Sans MS", "Comic Sans", Chilanka, Arial, Helvetica, sans-serif;
}

header {
  fill: #47ad73;
  height: 50px;
}
footer {
  fill: #47ad73;
  height: 50px;
}
