h1 {
  font-family: "Comic Sans MS", "Comic Sans", Chilanka, Arial, Helvetica, sans-serif;
}
h2 {
  font-family: "Comic Sans MS", "Comic Sans", Chilanka, Arial, Helvetica, sans-serif;
}
p {
  font-family: "Comic Sans MS", "Comic Sans", Chilanka, Arial, Helvetica, sans-serif;
}
a {
  font-family: "Comic Sans MS", "Comic Sans", Chilanka, Arial, Helvetica, sans-serif;
}

header {
  background-color: #47ad73;
  height: 50px;
}
footer {
  background-color: #47ad73;
  height: 50px;
}

body {
  margin: 0px;
}
